@media(max-width:1000px){
    .blog-post{
        flex-direction: column;
    }
    .post-image{
        margin-bottom: 2rem;

        img{
            width: 100%;
        }
    }
    .post-preview{
        padding: 0 !important;
    }
}

@media(max-width:768px){
    .content {
        padding: 70px 10% !important;
    }
    .post-preview{
        padding: 0 !important;
    }
}

@media(max-width:568px){
    ul li{
        padding: 1.25rem 1rem !important;
        font-size: .7rem !important;
    }
    .theme-switch{
        width:1.3rem;
    }
    .container{
        padding: 0 5% !important;
    }
    .content {
        padding: 70px 5% !important;
    }
}

@media(max-width:481px){
    .post-header .post-title{
        font-size: 2rem !important;
    }
}